@using TechSurvey.Entity.Concrete;
@model AppUser

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets_adminpanel/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="~/assets_adminpanel/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/assets_adminpanel/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/assets_adminpanel/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/assets_adminpanel/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets_adminpanel/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="~/assets_adminpanel/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/assets_adminpanel/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/assets_adminpanel/js/config.js"></script>

    <title>Delete</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            background: #edf1f5;
            margin-top: 20px;
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid transparent;
            border-radius: 0;
        }

        .btn-circle.btn-lg, .btn-group-lg > .btn-circle.btn {
            width: 50px;
            height: 50px;
            padding: 14px 15px;
            font-size: 18px;
            line-height: 23px;
        }

        .text-muted {
            color: #8898aa !important;
        }

        [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
            cursor: pointer;
        }

        .btn-circle {
            border-radius: 100%;
            width: 40px;
            height: 40px;
            padding: 10px;
        }

        .user-table tbody tr .category-select {
            max-width: 150px;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-header">
            <h3>Are You Sure?</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="card-body">
            <form asp-action="Delete" method="post">
                <div class="mb-3">
                    <label asp-for="@Model.Email" class="form-label">User Email</label>
                </div>
                <div class="mb-3">
                    @Html.DisplayFor(model => model.Email)
                </div>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a class="btn btn-primary" asp-action="Index">Back</a>
                </form>
            </form>
        </div>
    </div>

    <!-- Core JS -->
    <!-- build:js assets_adminpanel/vendor/js/core.js -->
    <script src="~/assets_adminpanel/vendor/libs/jquery/jquery.js"></script>
    <script src="~/assets_adminpanel/vendor/libs/popper/popper.js"></script>
    <script src="~/assets_adminpanel/vendor/js/bootstrap.js"></script>
    <script src="~/assets_adminpanel/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="~/assets_adminpanel/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="~/assets_adminpanel/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="~/assets_adminpanel/js/main.js"></script>

    <!-- Page JS -->
    <script src="~/assets_adminpanel/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

</body>
</html>